.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .social-media-button-container {
  zoom: 1;
  text-align: center;
  /*
	&:after {
		content:"";
		display:inline-block;
		width:100%;
	}
	*/
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780px) {
  .so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .social-media-button-container {
    text-align: center;
  }
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-linkedin-0 {
  background: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid #000000;
  color: #000000 !important;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-linkedin-0:visited,
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-linkedin-0:active,
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-linkedin-0:hover {
  color: #000000 !important;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-linkedin-0.ow-button-hover:hover {
  background: #000000;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-linkedin-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-email-0 {
  background: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid #000000;
  color: #000000 !important;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-email-0:visited,
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-email-0:active,
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-email-0:hover {
  color: #000000 !important;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-email-0.ow-button-hover:hover {
  background: #000000;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-email-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-phone-0 {
  background: transparent;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 2px solid #000000;
  color: #000000 !important;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-phone-0:visited,
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-phone-0:active,
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-phone-0:hover {
  color: #000000 !important;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-phone-0.ow-button-hover:hover {
  background: #000000;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button-phone-0.ow-button-hover:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button {
  display: inline-block;
  font-size: 1em;
  line-height: 1em;
  margin: 0.1em 0.05em 0.1em 0.05em;
  padding: 0.5em 0;
  width: 2em;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.so-widget-sow-social-media-buttons-wire-03fbf41153b4-31 .sow-social-media-button .sow-icon-fontawesome {
  display: inline-block;
  height: 1em;
}
/*This file was exported by "Export WP Page to Static HTML" plugin which created by ReCorp (https://myrecorp.com) */